In [8]:
print("Hi")

Hi

In [ ]:
ctrl enter
shift enter

In [ ]:
command mode = blue
edit mode = green
b => add new line below
a => add new line above

In [10]:
print("Hi Python")

Hi Python

### 3 Modes of execution :
- Interactive mode cmd python >>> quit()  
- Scripting .py cmd dir python filename.py 
- Jupyter  cmd jupyter notebook ctrl +  enter

In [12]:
print("Hi")

Hi

Data Types:
- int 10 4555555 immutable
- float 10.25555 45.2 immutable
- str 'python' "java" """ python sample string""" immutbale 
- list [10,11,12,13,"Python","Java",[100,200,300,400]] mutable = > add update and delete  
- tuple (10,20,30,20,"Python","Java") immutable 
- dict {"name":"ABC","email":"abc@gmail.com"} mutable => add , update , delete 
- set {10,20,30,40,50} mutable  add,update and delete 
- bool True False immutable

In [15]:
num1 = 100
print(num1,type(num1))

100 <class 'int'>

In [17]:
s = "Python"
print(s,type(s))

Python <class 'str'>

In [18]:
l = [10,20,30,40,50,60]
print(l,type(l))

[10, 20, 30, 40, 50, 60] <class 'list'>

In [20]:
num1 = 100
num2 = 200 
num3 = num1 + num2
print(num3)

300

In [21]:
num1 = 100
num2 = 100
print(id(num1),id(num2))

1945925792 1945925792

In [24]:
num1 = 150
print(id(num1))
print(id(num2))
num2 = 150
print(id(num2))

1945927392
1945925792
1945927392

In [ ]:
100  792 num2
150  392 num1

In [25]:
num1 = 100
print(num1)

num1 = "Python"
print(num1)

100
Python

In [28]:
num1 = 257
num2 = 257

print(id(num1),id(num2))

1982972023728 1982972024368

In [ ]:
0 - 256 list => Object intering

In [29]:
num1 = 100 
print(id(num1))

num1 = 150
print(id(num1))

1945925792
1945927392

In [30]:
l1 = [10,20,30]
l2 = [10,20,30]

print(id(l1),id(l2))

1982971863304 1982971863112

In [ ]:
Mutable => can changed at same location
Immutable => can not be changed at same location

In [33]:
l1 = [10,20,30]
print(id(l1))
l1.append(40)
print(l1)
print(id(l1))

1982972763208
[10, 20, 30, 40]
1982972763208

In [ ]:
Operators :
    1. arithmetic operators : + , - , * , / , // , % ,**
    2. Comparison operators ==,!= , <,>,<=,>=  => True / False 
    3. Identity operators is is not => compare the memory locations 
    4. Membership Operators in not in 
    5. Logical Operators and or not 
    6. Assignment Operators =,+=,-+,/=

In [38]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(25 ** 0.5 )

3.3333333333333335
3
1
5.0

In [41]:
num1 = 100
num2 = 200

print(num1 != num2)

True

In [46]:
num1 = 1000
num2 = 1000
print(num1 == num2)
print(num1 is num2)

True
False

In [47]:
l1 = [10,20,30]
l2 = [10,20,30]
print(l1 == l2)
print(l1 is not l2)

True
True

In [49]:
l = [10,20,30,40,50]
print(500 in l)

False

In [50]:
print(5 in 500)

TypeError: argument of type 'int' is not iterable

In [ ]:
list 
dict
tuple 
set

In [53]:
d = {1:1,2:4,3:9,4:16,5:25}
print(9 in d)

False

In [56]:
print(not(5 == 5 or 5 == 6))

False

In [59]:
num1 = 100
num1 = num1 + 5
print(num1)
num1 *= 5
print(num1)

105
525

In [ ]:
3 modes :
     interactive  cmd python >>> quit()
     scripting  .py cmd dir python filename.py 
     jupyter cmd jupyter notebook ctrl + enter

In [ ]:
True or False :
    comparion ==,!=,<,>,<=,>=
    identity is is not 
    logical and or not 
    membership in not in

In [ ]:
== compare , =  assign

In [ ]:
type()
id()

In [ ]:
int 
float 
str
list mutable
tuple 
dict  mutable 
set mutable  
bool

In [ ]:
list ,tuple ,dict ,set , str

In [60]:
print('p' in "python")

True

In [ ]:
num1 = 1000
num1 = 1000
0 - 256 => object intering